* {
  padding:0;
  margin:0;
  border:0
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  background-color: cornflowerblue;
}

#header {
  padding: 8vh 16vw;
  text-align: center;
  background-color: black;
  color: aliceblue;
}

#survey-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8vh 16vw;
  margin: 15px;
}

#personal-info > label input {
  display: block;
}

#review {
  display: block;
  margin-bottom: 4vh;
}

#submit {
  background-color: greenyellow;
  cursor: pointer;
}